$screenColor: #036006;
$caseColor: linear-gradient(135deg, #717070 0%, #252424 30%);
$pccaseWidth: 800px;
$pccaseHeight: 600px;

body {
    background-color: #000;
    font-family: 'VT323';
    font-size: 15pt;
}

.oldscreeneffect {
    // Old compute screen effect
    background: radial-gradient(ellipse at center, #000 50%,$screenColor 100%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity : 0.9;
}

.pccase {
    background: $caseColor;

    position: fixed;
	left: 0;
	right: 0;
	top:0;	
    bottom: 0;
    
    width: $pccaseWidth;
    height: $pccaseHeight;
    margin: auto;

    border: 10px solid #3D3B3B;
    border-radius: 10px;
}

.pcbase {
    @extend .pccase;
    //opacity: 0;
    width: $pccaseWidth + 200px;
    height: $pccaseHeight / 2;

    //margin-top: 320px;
    //margin-left: -500px;

}

.screen {
    height: $pccaseHeight - 150px;
    margin: 35px;

    border: 3px solid #222121;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 10px #000;

    .screentext {
        color: #00FE1A;
        margin: 20px 30px;
        text-shadow: 0px 0px 10px #FFFFFF;
        opacity: 0.6; 
    } 
}

input {
    opacity: 1 !important;
    background-color: transparent;
    position: relative;
    width: 83%;
    left: -20px;
    bottom: 1px;
    border-style: none;
    border-image: none;
    font-family: 'VT323';
    font-size: 15pt;
}

input:focus {
    outline: none;
}
