$screenColor: #003D02;
$caseColor: #B6B6B6;
$pccaseWidth: 650px;
$pccaseHeight: 600px;
$topcaseposition: -120px;

body {
    background: #000;
    font-family: 'VT323';
    font-size: 15pt;
}

// Old computer screen effect
.oldscreeneffect {
    background: radial-gradient(ellipse at center, #000 50%,$screenColor 100%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity : 0.9;
}

.pccase {
    background: $caseColor;
    position: fixed;
	left: 0;
	right: 0;
	top: $topcaseposition;	
    bottom: 0;
    width: $pccaseWidth;
    height: $pccaseHeight;
    margin: auto;
    border: 5px solid #3D3B3B;
    box-shadow: 0px 0px 0px 10px $caseColor;
    border-radius: 5px;
}

.cpu {
    @extend .pccase;
    top: $topcaseposition + 840px;
    width: $pccaseWidth + 200px;
    height: $pccaseHeight / 3.5;
    border-radius: 3px;
    border: 5px solid #3D3B3B;
    box-shadow: 0px 0px 0px 9px $caseColor;
    border-radius: 1px;
    
    
    .pcbaseleft {
        float: left;
        width: ($pccaseWidth + 200px) / 2;
        height: ($pccaseHeight / 3.5);
    }

    .logo {
        float: left;
        height: ($pccaseHeight / 3.5) - 30px;
        padding: 10px 20px 20px 10px;
        font-size: 50pt;
        font-weight: bold;
    }

    .onoffbutton {
        float:right;
        background-color: yellow;
        width: ($pccaseHeight / 3.5) / 2; 
        height: ($pccaseHeight / 3.5) / 2; 
        margin: 20px 35px 0px 0px;

        border-radius: 50%;
    }

    .onoffled {
        background-color: green;
        float:right;
    }

    .pcbaseright {
        @extend .pcbaseleft;
        float: right;
    }

    .disquette {
        background-color: #3E3D3D;
        width: 390px;
        height: 65px;
        margin: auto;
        margin-top: 7px;
        border: 5px solid #848484;
        border-radius: 7px;
        
        .disqueteline {
            background-color: black;
            width: 370px;
            height: 10px;
            margin: auto;
            margin-top: 30px;
        }
        
        .disquetesquare {
            background-color: #111111;
            width: 80px;
            height: 55px;
            margin: auto;
            margin-top: -35px;
            opacity: 0.5;
            border-radius: 10px;
        }
    }

}

.screen {
    height: $pccaseHeight - 150px;
    margin: 35px;

    border: 3px solid #222121;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 10px #000;

    .screentext {
        color: #00FE1A;
        margin: 20px 30px;
        text-shadow: 0px 0px 10px #FFFFFF;
        opacity: 0.6;
    } 
}

//Removing the default style of the input boxes and positioning it.
input {
    opacity: 1 !important;
    background-color: transparent;
    position: relative;
    width: 83%;
    left: -20px;
    bottom: 1px;
    border-style: none;
    border-image: none;
    font-family: 'VT323';
    font-size: 15pt;
}

input:focus {
    outline: none;
}
