$screenColor: #024A07;
$pccaseWidth: 700px;
$pccaseHeight: 600px;

body {
    background-color: #161212;
    font-family: 'VT323', monospace;
    font-size: 15pt;
}
.pccase {
    background-color: #717070;

    position: absolute;
    left: 50%;
    top: 40%;
    width: $pccaseWidth;
    height: $pccaseHeight;
    margin-left: $pccaseWidth / 2 * (-1);
    margin-top: $pccaseHeight / 2 * (-1);

    border: 10px solid #3D3B3B;
    border-radius: 10px;
}
.screen {
    color: white;
    background-color: $screenColor;

    position: relative;
    width: $pccaseWidth - 100px;
    height: $pccaseHeight - 100px;
    margin: 40px;

    border: 3px solid #222121;
    border-radius: 20px;

    .screentext {
        color: #00FE1A;
        margin: 20px 30px;
    }

    input {
        background-color: $screenColor;
        position: relative;
        width: 83%;
        left: -20px;
        border-style: none;
        border-image: none;
    }    
    input:focus {
        outline: none;
    }

}



